body{
    /* 外边距 */
    margin: 0;
    /* 内边距 */
    padding: 0;
}
.daohanglan{
    float: left;
    background-color: #333333;
    height: 40px;
    width: 1920px;
    margin-top: 0px;
}
.daohanglan a{
    font-size: 30px;
    /* 去掉链接下划线 */
    text-decoration:none;
    color: #fff;
}
.daohanglan a:hover{
    color: red;
}
.daohanglan .head1{
    float: left;
    display: block;
    width: 10%;
    background-color: #424242;
}
.daohanglan .head1 b{
    text-align: center;
    margin-left: 25%;
}
.daohanglan .head2{
    display: block;
    float: left;
    font-size: 20px;
    margin-top: 5px;
    margin-left: 10px;
}
.xiaoxi{
    float: right;
    text-align: center;
    margin-right: 0px;
}
.xiaoxi a{
    float: left;
    font-size: 15px;
	padding: 0 5px;
	line-height: 40px;
	height: 40px;
}
.xiaoxi span{
	float: left;
	font-family: sans-serif;
	font-size: 12px;
	color: #424242;
	line-height: 40px;
	height: 40px;
}
.xiaoxi .zhanghu{
    display: block;
    width: 80px;
    /* margin-right: 10px; */
    background-color: aqua;
}
.liebiao{
    float: left;
    background-color:  #333333;
    width: 10%;
    height: 882px;
    color: #fff;
    font-size: 30px;
}