body{
	margin:0;
	padding:0;
}
body{
	float:14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}
a{
	text-decoration: none;
}
.topbar{
	/* border: 边框 */
	/* border: 1px solid black; */
	background-color:#333;
	height:40px;
}
.container{
	/* border: 1px solid black; */
	margin: 0 auto;
	width: 1226px;
}
.container::before,.container::after{
	content: "";
	display: table;
}
.container::after{
	clear: both;
}
.topbar a{
	color: #b0b0b0;
	font-size: 12px;
}
.topbar a:hover{
	/* a:hover 鼠标移到字符上 */
	color:#fff;
}
.topbar-nav{
	float: left;
	height: 40px;
	line-height: 40px;
}
.topbar-info, .topbar-cart{
	float: right;
}